{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section
  class="featured-collection"
  data-section-id="{{ section.id }}"
  data-section-type="featured-collection"
>
  {%- assign collection = collections[section.settings.collection] -%}

  <div class="container">
    <div class="row">
      <div class="col xs12">

        {% comment %} Title and description {% endcomment %}
        <h1 class="featured-collection__title">
          {{ collection.title | escape }}
        </h1>

        <p class="featured-collection__description">
          {{ collection.description }}
        </p>

        {% comment %} Carousel {% endcomment %}
        {% render 'featured-collection-flickity-carousel', collection: collection %}

      </div>
    </div>
  </div>

  {% comment %} View Collection Button {% endcomment %}
  <div class="featured-collection__call-to-action">
    <a class="button button--primary" href="{{ collection.url }}">
      {{ 'collections.general.view_collection' | t }}
    </a>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
